.idea
.DS_Store
glove.42B.300d.txt
*.pt

data/eSNLI/esnli_train_1_with_exp.pkl


data/BeerAdvocate/annotations.json                
data/BeerAdvocate/merge-cli.py                    
data/BeerAdvocate/merge.py                        
data/BeerAdvocate/review+wiki.filtered.200.txt    
data/BeerAdvocate/reviews.260k.heldout.txt        
data/BeerAdvocate/reviews.260k.train.txt          
data/BeerAdvocate/reviews.aspect0.heldout.txt
data/BeerAdvocate/reviews.aspect0.train.txt
data/BeerAdvocate/reviews.aspect1.heldout.txt
data/BeerAdvocate/reviews.aspect1.train.txt
data/BeerAdvocate/reviews.aspect2.heldout.txt
data/BeerAdvocate/reviews.aspect2.train.txt
data/BeerAdvocate/reviews.aspect3.heldout.txt
data/BeerAdvocate/reviews.aspect3.train.txt
data/BeerAdvocate/select-cli.py
